[Desktop Entry]
Version=1.0
Type=Application
Name=Settings
GenericName=System Settings
Comment=Adjust desktop and system settings
Exec=xfce4-settings-manager
Icon=preferences-desktop
Terminal=false
StartupNotify=true
Categories=Settings;
