[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=Use the command line
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
StartupNotify=true
Categories=System;TerminalEmulator;
